.uk-switcher {
  height: calc(100% - 80px);
}

.uk-switcher > li {
  height: 100%;
}

.uk-tab {
  height: 60px;
}

.uk-tab > li {
  height: 100%;
}

.uk-tab > li > a {
  height: 29px;
  margin-top: 20px;
}

.uk-switcher > li > iframe {
  width: 100%;
  height: 100%;
}
